#bug_link {
  font-size: 80%;
}

.total {
  text-align: right;
  font-weight: bold;
  color: #363;
}

footer.requestertz-footer {
  border-left: 0px;
}

.table-container {
  width: 80%;
  margin: auto;
}

.hourpair {
  td,th {
    text-align: center;
  }
}

.goodtime {
  background-color: #9FEDB2;
}
